body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color:   #cce0ff;
  
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #b8b894;
  color: white;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
   .container{
   margin-top: -15px;
   background-color: #ffffe6;
    height: 1000px;;
   }
   .card{
    background-color:white;
    height: 400px;
    width: 240px;
    border: 1px solid #003366;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    box-shadow: 3px 3px 3px 3px  #ccd9ff;
}
.card:hover{
  transform: scale(1.1); 
   box-shadow: 3px 3px 3px 3px #b8b894;
}
.image{
  
  margin-left: -10px;
  border:1px solid #003366 ;
}
  .logo{
    margin-left: 20px;
  }
  h3{
    
    margin-left: 20px;
    color: #1a1afa;
  }
  .info{
    margin-left: 20px;
  }
  .row{
    display: flex;
    justify-content: space-evenly;
  
    padding-top: 10px;
   }
  h4{
    margin-top: 5px;
    
  }
  