.navbar{
    background-color: #ffccee;
    padding: 10px;
    margin:0px;
     }
   .a{
    background-color: #ff9999;
    color: black;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
      }
      .a:hover{
        background-color: #cce0ff;
        color: black;
        transition: 2sec;
        border-radius: 5px;
      }
   body{
    margin: 0px;
    
   }
   .container{
   margin-top: -15px;
   background-color: #ffffe6;
    height: 1000px;;
   }
   .card{
    background-color:white;
    height: 400px;
    width: 240px;
    border: 1px solid #003366;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    box-shadow: 3px 3px 3px 3px  #ccd9ff;
}
.card:hover{
  transform: scale(1.1); 
   box-shadow: 3px 3px 3px 3px #b8b894;
}
.image{
  
  margin-left: -10px;
  border:1px solid #003366 ;
}
  .logo{
    margin-left: 20px;
  }
  h3{
    
    margin-left: 20px;
    color: #1a1afa;
  }
  .info{
    margin-left: 20px;
  }
  .row{
    display: flex;
    justify-content: space-evenly;
  
    padding-top: 10px;
   }
  h4{
    margin-top: 5px;
    
  }
  