.navbar{
    background-color: #e6ffe6;
    padding: 10px;
    margin:0px;
     }
   .a{
    background-color: #ff9999;
    color: black;
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
      }
      .a:hover{
        background-color: #cce0ff;
        color: black;
        transition: 2sec;
        border-radius: 5px;
      }
   body{
    margin: 0px;
    
   }
  .container{
      background-color:  #eee6ff;
      margin: 0px;
      height: 580px;
      
     }
  .card{
      background-color: #f5f5f0;
      height: 250px;
      width: 400px;
      border: 1px solid #003366;
      border-radius: 8px;
      margin-left: 5px;
      display: flex;
      box-shadow: 3px 3px 3px 3px  #b3ffb3;
  }
  .sport-img{
      margin-top: 30px;
      margin-left: 20px;
      }
     .equipment{
      margin-left: 20px;
      }
    h3{
      color: #ff0000;
      }
    li{
      margin-top: 10px;
      color: #000099;
        }
    .card:hover{
      background-color:  #ffffcc;
      box-shadow: 3px 3px 3px 3px #ffb3d1;
    }
   .row{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
   }